.BurgerControls {
    border: 3px solid rgb(81, 223, 52);
    background-color: green;
    width: 300px;
    padding-top: .5rem;
    padding-left: .5rem;
  
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }