.BurgerControls {
    border: 3px solid yellow;
width: 90%;
height: auto;
    padding-top: .5rem;
    padding-left: .5rem;
  
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }