  
.Toolbar {
  display: flex;
  justify-content: space-between;

  background-color: rgba(0, 197, 0, 0.863);
}
.Toolbar nav {
  display: none;
}
@media (min-width: 500px) {
  .Toolbar nav {
    display: block;
  }
}