.Toolbar {
    display: flex;
    justify-content: space-between;
  
    background-color: greenyellow;
  }
  .Toolbar nav {
    display: none;
  }
  @media (min-width: 500px) {
    .Toolbar nav {
      display: block;
    }
  } 