.Burger {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  border:5px solid grey;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  .steak {
    border-radius: 100%;
    border: 15px solid rgb(230, 159, 29);
    background-color: white;
  }
  .cucumber {
    border-radius: 100%;
    border: 15px solid yellow;
    background-color: green;
  }
  .tamato {
    border-radius: 20%;
    border: 15px solid tomato;
    background-color: white;
  }
  .lettuce {
    border-radius: 20%;
    border: 15px solid greenyellow;
    background-color: white;
  }
  .ketchup {
    border-radius: 100%;
    border: 15px solid red;
    background-color: white;
  }
  .chees{
    border-radius: 100%;
    border: 15px solid yellow;
    background-color: white;
    
  }
  @media (min-width: 900px) {
    .Burger {
      width: 50px;
      height: 62px;
      margin-top: -24px;
    }
  }