.Burger {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  border:5px solid grey;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  .steak {
    height:60px;
    background-repeat: no-repeat;
    background-size: 100%;
   background-image: url(../../../../assets/steak.PNG);
  }
  .tamato {height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
  background-image: url(../../../../assets/tamato.PNG);
  }
  .lettuce {
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
  background-image: url(../../../../assets/lettuce.PNG);
  }
  .onion {
    height: 30px;
width:465px ;
    background-repeat: no-repeat;
    background-size: 100%;
  background-image: url(../../../../assets/onion.PNG);
  }
  .chees{
    background-repeat: no-repeat;
    background-image: url(../../../../assets/chees.PNG);
    height: 25px;
    background-size: 100%;
  }
  .kettchup {
    height: 30px;
width:465px ;
    background-repeat: no-repeat;
    background-size: 100%;
  background-image: url(../../../../assets/kettchup.PNG);
  }
  @media (min-width: 350px) {
    .Burger {
      
      width: 50px;
      height: 62px;
      margin-top: -24px;
    }
    .steak {
      width: 94%;
      height:60px;
      background-repeat: no-repeat;
      background-size: 100%;
     background-image: url(../../../../assets/steak.PNG);
    }
    .tamato {height: 30px;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 94%;
    background-image: url(../../../../assets/tamato.PNG);
    }
    .lettuce {
      height: 60px;
      width: 94%;
      background-repeat: no-repeat;
      background-size: 100%;
    background-image: url(../../../../assets/lettuce.PNG);
    }
   
    .chees{
      background-repeat: no-repeat;
      background-image: url(../../../../assets/chees.PNG);
      height: 25px;
      width: 94%;
      background-size: 100%;
    }
  }