.Burger {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  border:5px solid grey;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  .steak {
   background-image: url(../../../../assets/steak.PNG);
  }
  .tamato {
  background-image: url(../../../../assets/tamato.PNG);
  }
  .lettuce {
  background-image: url(../../../../assets/lettuce.PNG);
  }
 
  .chees{
    background-image: url(../../../../assets/chees.PNG);
    
  }
  @media (min-width: 900px) {
    .Burger {
      width: 50px;
      height: 62px;
      margin-top: -24px;
    }
  }