.NavigationItem a {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 50px;
  
    font-family: 'Nanum Brush Script', cursive;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border-left: 5px solid transparent;
  
    transition: all .2s ease-in-out;
  }
  .NavigationItem a:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, .3);
  }
  .NavigationItem .active {
    border-color: white;
    background-color: rgba(255, 255, 255, .1);
  }
  
  @media (min-width: 500px) {
    .NavigationItem a {
      height: 70px;
      border: none;
      border-top: 5px solid transparent;
    }
  }