.BulkaBottom{
    background-image: url(../../assets/bulkabottom.PNG);
    background-size: 100%;
    height: 80px;
   width: 95%;
 background-repeat: no-repeat;  
}
@media (min-width:350px){
    .Bulka{
      background-image: url(../../assets/bulkabottom.PNG);
      background-size: 100%;
      height:30px;
     
      background-repeat: no-repeat;
    }
  }