.Order {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    flex-basis: 380px;
    flex-grow: 1;
    padding: 1em;
    margin: 0.5em;
  }
  .Order .details {
    font-size: 1.2rem;
    margin-bottom: 0.3em;
  }
  .Order .price {
    font-weight: bold;
    font-size: 2rem;
    color: limegreen;
    font-family: "Nanum Brush Script", cursive;
    margin-bottom: 0.5em;
  }
  .Order .ingredient {
    border: 1px solid limegreen;
    border-radius: 0.3em;
    padding: 0.3em;
    display: inline-block;
    margin: 0 0.3em 0.3em 0;
  }