.CheckoutForm {
    display: flex;
    min-width: 350px;
    flex-flow: column nowrap;
  }
  .CheckoutForm input,
.CheckoutForm select {
  padding: 0.5em 1em;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  border-radius: 1em;
  font-size: 1.2rem;
  min-width: 480px;
  margin-top: 0.5em;
}
.CheckoutForm input:focus,
.CheckoutForm select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6) inset;
}
.CheckoutForm button {
  margin: 1em 0;
}