.BurgerControl {
  display: flex;
  align-items: center;
}
.BurgerControl .label {
  color: white;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 1.5rem;
  padding: .4rem 1rem;
}
.BurgerControl button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  color: rgb(37, 160, 0);
  font-weight: bold;
  border-radius: 23%;
  cursor: pointer;
}
.BurgerControl button:disabled {
  opacity: .5;
}
.BurgerControl button:not(:disabled):hover {
  opacity: .8;
}

@media (min-width: 500px) {
  .BurgerControl .label {
    font-size: 2rem;
  }
}